<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="utf-8">
	<title>Angular Modal Window</title>
	<link rel="stylesheet" href="../../lib/styles/bootstrap/bootstrap.css"/>
</head>
<body>
	<div ng-controller="mainController">
		<!-- Button to trigger modal -->
		<button class="btn-primary" ts-modal="#warningAlert">Show Modal</button>
	</div>

	<div id="warningAlert">
		<div class="alert-modal">
			<div class="modal-body">
				{{message}}
			</div>
			<div class="modal-footer">
				<button class="btn-danger" ng-click="cancel()">Cancel</button>
				<button class="btn-success" ng-click="save()">Save</button>
			</div>
		</div>
	</div>

<!--  Scripts  -->
	<!--  Vendor -->
	<script src="../../lib/scripts/angular/angular.js"></script>
	<script src="../../lib/scripts/angular/angular-ui-bootstrap.js"></script>
	<script src="../../lib/scripts/angular/angular-ui-bootstrap-tpls.js"></script>
	<script src="../../lib/scripts/jQuery/jQuery.js"></script>
	<script src="../../lib/scripts/bootstrap/bootstrap.js"></script>

	<!--  App  -->
	<script src="scripts/app.js"></script>
	<script src="scripts/modal.js"></script>
</body>
</html>