<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="utf-8">
	<title>Angular Modal Window</title>
	<link rel="stylesheet" href="../../lib/styles/bootstrap/bootstrap.css"/>
</head>
<body ng-controller="mainController">

<!-- File upload Button -->
<input type="file" name="myPhoto" ts-file-upload preview="photo"/>

<div class="row">
	<img ng-src="{{photo.src}}" width="10%">
</div>

<!--  Scripts  -->
<!--  Vendor -->
<script src="../../lib/scripts/angular/angular.js"></script>
<script src="../../lib/scripts/angular/angular-ui-bootstrap.js"></script>
<script src="../../lib/scripts/angular/angular-ui-bootstrap-tpls.js"></script>
<script src="../../lib/scripts/jQuery/jQuery.js"></script>
<script src="../../lib/scripts/bootstrap/bootstrap.js"></script>

<!--  App  -->
<script src="scripts/app.js"></script>
<script src="scripts/fileUpload.js"></script>
</body>
</html>